@import url('../assets/font/stylesheet.css');

*{
  color: #fff;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #212121;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin: 2rem 3rem;
  width: 90%;
  z-index: 100;
}

#login-form {
  display: flex;
  gap: 7rem;
  padding-left: 4rem;
  height: 100vh;


  form {
    min-width: 25rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
      margin: auto;
      margin-top: 5rem;
      margin-bottom: 0;
    }

    p {
      color: #B4B4B4;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    label {
      margin-top: 1.5rem;
    }

    input {
      margin-top: 0.5rem;
      background: none;
      border: 2px solid #474747;
      border-radius: 5px;
      padding: 0.7rem 1rem;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    input.valid{
      border-color: #29C7AC !important;
    }

    input.invalid{
      border-color: #FB2576;
    }

    input:focus.valid{
      border-color: #29C7AC !important;
    }

    input:focus.invalid{
      border-color: #FB2576 !important;
    }

    .err {
      color: #B4B4B4;
      font-size: 0.75rem;
      margin-top: 0.4rem;
      display: none;

      .active {
        display: block;
      }
    }

    .under-input {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      font-size: 0.9rem;
    }

    input[type="submit"] {
      margin-top: 1.5rem;
      background: #F30A49;
      border: none;
      border-radius: 5px;
      padding: 0.7rem 1rem;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
    }

    #register {
      color: #B4B4B4;
      text-decoration: none;
      font-size: 0.9rem;
      margin: auto;
      margin-top: auto;
      margin-bottom: 1rem;
    }
  }

  .fom-right {
    background-image: url('https://m.media-amazon.com/images/M/MV5BMTgyNTc2MzI0Ml5BMl5BanBnXkFtZTgwMjUzODMyMTI@._V1_.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
}