@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-seri;
}

body {
  background-color: #212121;
  color: #fff;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-left: 4rem;
  margin-top: 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e43569;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: rgb(33, 33, 32);
  background: linear-gradient(180deg, rgb(18, 18, 17) 10%, rgba(33, 33, 33, 0) 100%);
}
header nav {
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 1.5rem auto;
}
header nav .left, header nav .right {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  margin-left: 2rem;
}
header nav ul li {
  list-style-type: none;
  margin-right: 2rem;
  color: #D1D1D1;
}
header nav ul li.active {
  color: #fff;
}
header nav ul li a {
  color: inherit;
  text-decoration: none;
}
header nav .right {
  display: flex;
  align-items: center;
}
header nav .right .search {
  margin-right: 1.5rem;
}
header nav .right #login {
  display: block !important;
  padding: 0.5rem 0.9rem;
  background: #F30A49;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
header nav .right .profile {
  position: relative;
}
header nav .right .profile:hover .profile-wrappar,
header nav .right .profile .profile-wrappar:hover {
  display: block;
}
header nav .right .profile .profile-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #323232;
}
header nav .right .profile .profile-circle img {
  width: 100%;
}
header nav .right .profile .profile-wrappar {
  display: none;
  position: absolute;
  min-width: 13rem;
  top: 2rem;
  right: 0;
}
header nav .right .profile .profile-body {
  margin-top: 0.5rem;
  background: #323232;
  padding: 1.1rem;
  border-radius: 5px;
}
header nav .right .profile .profile-body .profile-circle {
  background: #5A5A5A;
  margin: 0;
  margin-right: 0.5rem;
}
header nav .right .profile .profile-body .profile-info {
  display: flex;
  align-items: center;
}
header nav .right .profile .profile-body .profile-info .profile-name {
  font-size: 0.9rem;
  margin-bottom: -0.1rem;
}
header nav .right .profile .profile-body .profile-info .profile-email {
  font-size: 0.7rem;
  color: #D1D1D1;
  margin-top: -0.1rem;
}
header nav .right .profile .profile-body .profile-btns {
  display: flex;
  align-items: center;
  background: #5A5A5A;
  margin-top: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
header nav .right .profile .profile-body .profile-btns:nth-child(3) {
  margin-top: 0.7rem;
}
header nav .right .profile .profile-body .profile-btns p {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
header nav .right .profile .profile-body .logout {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  background: #BE3B3B;
  cursor: pointer;
}

.hero-bk {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 0;
}

.bk-filter {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(33, 33, 32) 75%);
}

section.hero {
  padding: 4rem 4rem 0 0;
}
section.hero img {
  max-width: 22rem;
  margin-top: 2rem;
}
section.hero .movie-sum {
  margin-top: 1.5rem;
  max-width: 32rem;
}
section.hero .hero-btns {
  display: flex;
  margin-top: 2rem;
}
section.hero .hero-btns button {
  background: #323232;
  border: none;
  color: #fff;
  padding: 0.5rem;
  padding-bottom: 2.67px;
  margin-left: 0.75rem;
  border-radius: 5px;
}
section.hero .hero-btns button:nth-child(1) {
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  margin-left: 0;
}
section.hero .hero-btns button:nth-child(1) p {
  margin-left: 0.35rem;
}

section.movies-sec {
  /* Handle on hover */
}
section.movies-sec ::-webkit-scrollbar {
  height: 5px !important;
  display: none;
}
section.movies-sec ::-webkit-scrollbar-thumb {
  background: #323232;
  width: 1px;
  height: 1px;
}
section.movies-sec ::-webkit-scrollbar-corner {
  margin-left: 10rem;
  margin-top: 2rem;
}
section.movies-sec ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
section.movies-sec .movies {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
section.movies-sec .movies a:nth-last-child(1) {
  margin-right: 4rem;
}
section.movies-sec .movies a {
  margin-bottom: 0.2rem;
}
section.movies-sec .movies img {
  background: #323232;
  width: 14rem;
}
section.movies-sec .top-movies {
  margin-top: -4rem;
}
section.movies-sec .top-movies a {
  display: flex;
  align-items: center;
}
section.movies-sec .top-movies a:nth-child(1) img {
  margin-left: -2rem;
}
section.movies-sec .top-movies a:nth-child(10) p {
  letter-spacing: -2.8rem;
}
section.movies-sec .top-movies img {
  background: #323232;
  width: 135px;
  z-index: 2;
  margin-left: -3rem;
}
section.movies-sec .top-movies p {
  font-size: 240px;
  font-weight: 600;
  color: #5A5A5A;
}

footer {
  width: 100%;
  padding-top: 3.75rem;
  padding-bottom: 1.9rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  background: #323232;
}
footer .upp {
  width: 72rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .upp .info {
  font-size: 1.1rem;
}
footer .upp .info .logo {
  font-size: 2.5rem;
  line-height: 1;
  color: #B1B1B1;
}
footer .upp .info .mail {
  color: #F04478;
  margin-top: 1rem;
}
footer .upp .info .phone {
  color: #B3B3B3;
  margin-top: 0.5rem;
}
footer .upp .cul {
  font-size: 1rem;
}
footer .upp .cul h4 {
  font-weight: 500;
}
footer .upp .cul p {
  margin-top: 0.5rem;
  color: #B3B3B3;
}
footer .line {
  width: 72rem;
  margin: auto;
  margin-top: 3rem;
  height: 2px;
  background: #B1B1B1;
}
footer .down {
  font-size: 0.9rem;
  width: 72rem;
  margin: auto;
  margin-top: 1.9rem;
  display: flex;
  justify-content: space-between;
}
footer .down a {
  text-decoration: underline;
}

section {
  max-width: 72rem;
  margin: auto;
  margin-top: 4rem;
}

section.sidebar {
  width: 100%;
  display: flex;
}
section.sidebar .profile-body-sec {
  background: #323232;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1.8rem;
  border-radius: 10px;
  min-width: 18rem;
}
section.sidebar .profile-body-sec .profile-circle {
  background: #5A5A5A;
  margin: 0;
  margin-right: 0.5rem;
}
section.sidebar .profile-body-sec .profile-info {
  display: flex;
  align-items: center;
}
section.sidebar .profile-body-sec .profile-info .profile-name {
  font-size: 0.9rem;
  margin-bottom: -0.1rem;
}
section.sidebar .profile-body-sec .profile-info .profile-email {
  font-size: 0.7rem;
  color: #D1D1D1;
  margin-top: -0.1rem;
}
section.sidebar .profile-body-sec .profile-btns {
  display: flex;
  align-items: center;
  background: #4B4B4B;
  margin-top: 1.1rem;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
section.sidebar .profile-body-sec .profile-btns:nth-child(3) {
  margin-top: 0.7rem;
}
section.sidebar .profile-body-sec .profile-btns p {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
section.sidebar .profile-body-sec .remove {
  margin-top: auto;
  background: #BE3B3B;
}
section.sidebar .layout {
  display: none;
  margin-top: 3rem;
  margin-left: 3rem;
}
section.sidebar .layout.active {
  display: block !important;
}
section.sidebar .layout h1 {
  font-weight: 500;
  font-size: 1.9rem;
}
section.sidebar .layout h2 {
  font-weight: 400;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
}
section.sidebar .layout .profile {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
section.sidebar .layout .profile .profile-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #5A5A5A;
  margin-right: 1rem;
}
section.sidebar .layout .profile .profile-img img {
  width: 100%;
}
section.sidebar .layout .profile .name {
  font-size: 1.4rem;
  font-weight: 400;
}
section.sidebar .layout .profile .email {
  font-size: 1.2rem;
  color: #AEAEAE;
}
section.sidebar .layout .settings-email {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4B4B4B;
  border: 2px solid #636363;
  border-radius: 5px;
  padding: 0.65rem 1rem;
  font-weight: 300;
}
section.sidebar .layout .settings-name-container {
  display: flex;
}
section.sidebar .layout .settings-name-container .settings-name {
  display: flex;
  flex-direction: column;
  background-color: #4B4B4B;
  border: 2px solid #636363;
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
}
section.sidebar .layout .settings-name-container .settings-name:nth-child(1) {
  margin-right: 1rem;
}
section.sidebar .layout .settings-name-container .settings-name label {
  font-size: 0.9rem;
  font-weight: 400;
  color: #BBBBBB;
}
section.sidebar .layout .settings-name-container .settings-name input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
}
section.sidebar .layout .save {
  background: #249367;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  margin-top: 3rem;
  cursor: pointer;
}
section.sidebar .pass-alyout h2 {
  font-size: 1rem;
}
section.sidebar .pass-alyout input[type=password] {
  min-width: 20rem;
  color: #fff;
  font-size: 1rem;
}/*# sourceMappingURL=profile.css.map */