// Importing styles
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import 'profile.scss';
// @import 'mylist.scss';
// @import 'movies.scss';
// @import 'movie.scss';

// Variables
// --------------------------------------------------
$color-bg: #212121;
$color-text: #fff;
$color-primary: #F30A49;
$color-gray-1: #323232;
$color-gray-2: #5A5A5A;
$color-gray-3: #B1B1B1;
$color-bg-form: #4B4B4B;
$color-bg-form-label-txt: #BBBBBB;
$color-bg-form-border: #636363;
$color-red: #BE3B3B;
$color-gray-txt: #D1D1D1;
$color-gray-op-btns: #4B4B4B;

$width-left: 4rem;
$mx-wth: 72rem;


// Global Styles
// --------------------------------------------------
*, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-seri;
}

body {
  background-color: $color-bg;
  color: $color-text;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-left: $width-left;
  margin-top: 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e43569;
}

.error-page {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: $color-gray-txt;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: rgb(33,33,32);
  background: linear-gradient(180deg, rgb(18, 18, 17) 10%, rgba(33,33,33,0) 100%);

  nav {
    display: flex;
    justify-content: space-between;
    max-width: $mx-wth;
    margin: 1.5rem auto;

    .left, .right {
      display: flex;
      align-items: center;
    }
    
    ul {
      display: flex;
      margin-left: 2rem;

      li {
        list-style-type: none;
        margin-right: 2rem;
        color: $color-gray-txt;

        &.active {
          color: #fff;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .search {
        margin-right: 1.5rem;
      }

      #login {
        display: block !important;
        padding: 0.5rem 0.9rem;
        background: #F30A49;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 500;
        border: none;
        border-radius: 5px;
      }

      .profile {
        position: relative;

        &:hover .profile-wrappar,
        .profile-wrappar:hover {
          display: block;
        }

        .profile-circle {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background: $color-gray-1;

          img {
            width: 100%;
          }
        }

        .profile-wrappar {
          display: none;
          position: absolute;
          min-width: 13rem;
          top: 2rem;
          right: 0;
        }

        .profile-body {
          margin-top: 0.5rem;
          background: $color-gray-1;
          padding: 1.1rem;
          border-radius: 5px;

          .profile-circle {
            background: $color-gray-2;
            margin: 0;
            margin-right: 0.5rem;
          }

          .profile-info {
            display: flex;
            align-items: center;

            .profile-name {
              font-size: 0.9rem;
              margin-bottom: -0.1rem;
            }

            .profile-email {
              font-size: 0.7rem;
              color: $color-gray-txt;
              margin-top: -0.1rem;
            }
          }

          .profile-btns {
            display: flex;
            align-items: center;
            background: $color-gray-2;
            margin-top: 1.1rem;
            padding: 0.5rem;
            border-radius: 5px;

            &:nth-child(3) {
              margin-top: 0.7rem;
            }

            p {
              font-size: 0.9rem;
              margin-left: 0.3rem;
            }
          }

          .logout {
            margin-top: 1rem;
            padding: 0.5rem;
            border-radius: 5px;
            text-align: center;
            background: $color-red;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.hero-bk {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 0;
  // opacity: 0.6;
}

.bk-filter {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50rem;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(33,33,32,1) 75%);
}

section.hero {
  padding: 4rem $width-left 0 0;

  img {
    max-width: 22rem;
    margin-top: 2rem;
  }

  .movie-sum {
    margin-top: 1.5rem;
    max-width: 32rem;
  }

  .hero-btns {
    display: flex;
    margin-top: 2rem;

    button {
      background: $color-gray-1;
      border: none;
      color: #fff;
      padding: 0.5rem;
      padding-bottom: 2.67px;
      margin-left: 0.75rem;
      border-radius: 5px;

      &:nth-child(1) {
        display: flex;
        align-items: center;
        background: #fff;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1.5rem;
        margin-left: 0;

        p {
          margin-left: 0.35rem;
        }
      }
    }
  }
}

section.movies-sec {

  ::-webkit-scrollbar {
    height: 5px !important;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-gray-1;
    width: 1px;
    height: 1px;
  }

  ::-webkit-scrollbar-corner {
    margin-left: 10rem;
    margin-top: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .movies {
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;

    // a:nth-child(1) {
    //   margin-left: $width-left;
    // }

    a:nth-last-child(1) {
      margin-right: $width-left;
    }

    a {
      margin-bottom: 0.2rem;
    }
    
    img {
      background: $color-gray-1;
      width: 14rem;
      // height: 9rem;
    }
  }

  .top-movies {
    margin-top: -4rem;

    a {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        img {
          margin-left: -2rem;
        }
      }

      &:nth-child(10) {
        p {
          letter-spacing: -2.8rem;
        }
      }
    }

    img {
      background: $color-gray-1;
      width: 135px;
      z-index: 2;
      margin-left: -3rem;
    }

    p {
      font-size: 240px;
      font-weight: 600;
      color: #5A5A5A;
    }
  }
}

footer {
  width: 100%;
  padding-top: 3.75rem;
  padding-bottom: 1.9rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  background: $color-gray-1;

  .upp {
    width: $mx-wth;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .info {
      font-size: 1.1rem;

      .logo {
        font-size: 2.5rem;
        line-height: 1;
        color: #B1B1B1;
      }

      .mail {
        color: #F04478;
        margin-top: 1rem;
      }

      .phone {
        color: #B3B3B3;
        margin-top: 0.5rem;
      }
    }

    .cul {
      font-size: 1rem;

      h4 {
        font-weight: 500;
      }

      p {
        margin-top: 0.5rem;
        color: #B3B3B3;
      }
    }
  }

  .line {
    width: $mx-wth;
    margin: auto;
    margin-top: 3rem;
    height: 2px;
    background: #B1B1B1;
  }

  .down {
    font-size: 0.9rem;
    width: $mx-wth;
    margin: auto;
    margin-top: 1.9rem;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: underline;
    }
  }
}
