footer
  .upp
    .info
      a.logo(href='/public') Abbeflix
      p.mail info@abbeflix.se
      p.phone +46 7201 266 96
    .cul
      h4 Uppt&auml;ck
      p Nya filmer
      p Nya tv-serier
      p Topprankade filmer
    .cul
      h4 Popul&auml;rt
      p Mest sedda filmer
      p Mest sedda tv-serier
      p Trendande filmer och tv-serier
    //
      <div class="cul">
      <h4>Mitt konto</h4>
      <p><a href="/public/profile.html">Profilinställningar</a></p>
      <p>Betalningsinformation</p>
      <p>Tittarhistorik</p>
      </div>
    .cul
      h4 Om oss
      p F&ouml;retagshistorik
      p Kontakta oss
      p Vanliga fr&aring;gor och svar
  .line
  .down
    .copyright &copy; 2023 Abbeflix
    .me
      | Designed &amp; coded with &#x2764;&#xFE0F; by 
      a(href='https://github.com/AbbeM') Abbe
      | &#x1F3D3;
