doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Security-Policy', content='img-src * data:')
  link(rel='stylesheet' href='/scss/style.css')
  link(rel='stylesheet' href='/scss/profile.css')
  link(rel='stylesheet' href='/scss/mylist.css')
  link(rel='stylesheet' href='/scss/movies.css')
  link(rel='stylesheet' href='/scss/movie.css')
  title Abbeflix | #{title}

body
  //- HEADER
  include _header

  //- CONTENT
  block content
    h1 Loading...

  //- FOOTER
  include _footer

  script(src='/js/bundle.js')
